@import '../../../sources/styles/variables.scss';

.homeContainer {
  padding-top: 80px;

  .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
}
